/* MOBILE FIRST */
/* Smartphone*/

/*VARIABLES*/ 
 

$violeta: rgb(86, 5, 141);
$violetaII: rgb(136, 12, 219);
$violetaIII: rgb(146, 5, 146);
$violetaIIII: rgb(103, 9, 139);
$negro: black;
$blanco: white;
$casiblanco: #fff;
$turquesa: rgb(16, 218, 233); 
$celeste: rgb(8, 166, 214);
$fucsia: rgb(248, 4, 228);
$fucsiaII: rgb(184, 4, 169);


@media (max-width: 480px) {

    /*ANIDAMIENTO*/ 

    body {
        background-color: $fucsia;

        h1 {
            font-size: 2rem;
        }

        article {
            background-color: $blanco;
            border-radius: 4px;
            margin: 5px;
            text-align: center;
            box-shadow: 2px 2px 2px $negro;

            article p {
                text-align: justify;
                margin: 10px;
            }
        }

        article img {
            width: 50%;
        }


        p {
            padding: 10px;
            font-size: 13px;
            color: $blanco;

            aside p {
                padding: 10px;
            }

        }

    }


    footer {
        padding: 13px;
        text-align: center;
        background-color: $turquesa;
        color: $fucsiaII;

    }
}



/* Estilos GRIDS por AREAS */
#grilla-areas {
    display: grid;
    grid-template-areas:

        "menu"
        "cabeza"
        "imagenes"
        "brazo"
        "parrafo"
        "pie"

    ;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 20vh 1fr 1fr 20vh 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* FLEXs */
.menuFlex {
    display: flex;
    flex-flow: column nowrap;
    background-color: $violetaII;
}

.flexImagenes {
    display: flex;
    flex-flow: column nowrap;

}

.lateralFlex {
    display: flex;
    flex-flow: column nowrap;
    background-color: $violetaIII;
}