/* MOBILE FIRST */

@media (max-width: 480px) {

    /*ANIDAMIENTO*/ 

    body {
        background-color: $fucsia;

        h1 {
            font-size: 2rem;
        }

        article {
            background-color: $blanco;
            border-radius: 4px;
            margin: 5px;
            text-align: center;
            box-shadow: 2px 2px 2px $negro;

            article p {
                text-align: justify;
                margin: 10px;
            }
        }

        article img {
            width: 50%;
        }


        p {
            padding: 10px;
            font-size: 13px;
            color: $blanco;

            aside p {
                padding: 10px;
            }

        }

    }


    footer {
        padding: 13px;
        text-align: center;
        background-color: $turquesa;
        color: $fucsiaII;

    }
}



/* Estilos GRIDS por AREAS */
#grilla-areas {
    display: grid;
    grid-template-areas:

        "menu"
        "cabeza"
        "imagenes"
        "brazo"
        "parrafo"
        "pie"

    ;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 20vh 1fr 1fr 20vh 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* FLEXs */
.menuFlex {
    display: flex;
    flex-flow: column nowrap;
    background-color: $violetaII;
}

.flexImagenes {
    display: flex;
    flex-flow: column nowrap;

}

.lateralFlex {
    display: flex;
    flex-flow: column nowrap;
    background-color: $violetaIII;
}


/* Tablet */

@media (min-width: 481px) and (max-width: 1023px) {
    
    /*ANIDAMIENTO*/ 
    
    body {
        background-color: $fucsia;

        h1 {
            font-size: 3rem;
        }

        header {
            height: 25vh;
            background-color: $violetaIIII;
        }

        span {
            padding: 5px 10px;
        }

    }


    /* Estilos GRIDS por AREAS */
    #grilla-areas {
        display: grid;
        grid-template-areas:

            "cabeza cabeza"
            "menu menu "
            "imagenes imagenes "
            "parrafo brazo"
            "pie pie"

        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    article {
        background-color: $casiblanco;
        border-radius: 4px;
        margin: 5px;
        text-align: center;
        box-shadow: 2px 2px 2px $negro;
    }

    h3 {
        margin: 7px;
        text-transform: uppercase;
    }

    p {
        padding: 10px;
        font-size: 20px;
        color: $blanco;
        text-align: justify;
        
    }

    article img {
        width: 70%;
        text-align: center;
    }

    article p {
        text-align: justify;
        margin: 10px;
    }


    aside img {

        width: 50%;
    }

    footer {
        padding: 20px;
        text-align: center;
        background-color: $turquesa;
        color: $fucsia;
        text-align: center;
    }

    /* FLEXs */
    .menuFlex {
        display: flex;
        flex-flow: row nowrap;
        background-color: $celeste;
        justify-content: space-evenly;
    }

    .flexImagenes {
        display: flex;
        flex-flow: row nowrap;
    }

    .lateralFlex {
        display: flex;
        flex-flow: column nowrap;
        background-color: $violetaIII;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    
    /*ANIDAMIENTO*/
    
    body {
        background-color: $fucsia;

        h1 {
            font-size: 3rem;
        }
    
        article {
            background-color: $blanco;
            border-radius: 4px;
            margin: 5px;
            text-align: center;
            box-shadow: 2px 2px 2px $negro;
            align-items: center;
        }
    
        h3 {
            margin: 7px;
            text-transform: uppercase;
        }
    
    
        p {
            font-size: 20px;
            color: $blanco;
        }
    
    
        aside {
            height: 100%;
        }
    
        article img {
            width: 80%;
        }
    
        aside p {
            padding: 10px;
            color: #d3d3d3;
        }
    
        footer {
            padding: 20px;
            text-align: center;
            background-color: $turquesa;
            color: $fucsia;
            text-align: center;
        }
    }

  


    /* Estilos GRIDS por AREAS */
    #grilla-areas {
        display: grid;
        grid-template-areas:

            "menu cabeza cabeza"
            "menu imagenes brazo"
            "menu parrafo brazo"
            "menu pie pie"

        ;
        grid-template-columns: 15% auto 20%;
        grid-template-rows: 35vh 1fr 25vh 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }

    /* FLEXs */
    .menuFlex {
        display: flex;
        flex-flow: column nowrap;
    }


    .flexImagenes {
        display: flex;
        flex-flow: row nowrap;

    }

    .lateralFlex {
        display: flex;
        flex-flow: column nowrap;
        background-color: $violetaIII;
    }
}