/*VARIABLES*/ 
 

$violeta: rgb(86, 5, 141);
$violetaII: rgb(136, 12, 219);
$violetaIII: rgb(146, 5, 146);
$violetaIIII: rgb(103, 9, 139);
$negro: black;
$blanco: white;
$casiblanco: #fff;
$turquesa: rgb(16, 218, 233); 
$celeste: rgb(8, 166, 214);
$fucsia: rgb(248, 4, 228);
$fucsiaII: rgb(184, 4, 169);


